In [1]:
import os
import pandas as pd

In [2]:
cwd =  os.getcwd()
cwd

'c:\\Users\\mssel\\Documents\\Projects\\IRWA Project\\dataset'

In [ ]:
# import zipfile
# zip_file = '/content/drive/MyDrive/IRWAProject/MovieRecommendation/data/data1.zip'


# extraction_path = '/content/drive/My Drive/IRWAProject/MovieRecommendation/data'

# # Unzip the file
# with zipfile.ZipFile(zip_file, 'r') as zip_ref:
#     zip_ref.extractall(extraction_path)

In [ ]:
# Importing necessary library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#reviews=pd.read_csv(directory+"rotten_tomatoes_critic_reviews.csv")
movies=pd.read_csv("movies.csv")

In [5]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
movies.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [7]:
movies.head(2)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [8]:
# display the shape of the movies
movies.shape

(62423, 3)

In [9]:
# check are there any null values
movies.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [10]:
#movies= movies.dropna()

In [13]:
ratings=pd.read_csv("ratings.csv")

In [15]:
ratings.head(3)

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828

In [16]:
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [17]:
# display the shape of the reviews
ratings.shape

(25000095, 4)

In [18]:
# check are there any null values
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [19]:
#ratings = ratings.dropna()

In [20]:
ratings.shape

(25000095, 4)

In [21]:
ratings['userId'].value_counts()

userId
72315     32202
80974      9178
137293     8913
33844      7919
20055      7488
          ...
12094        20
119539       20
156759       20
12084        20
36207        20
Name: count, Length: 162541, dtype: int64

In [22]:
ratings['userId'].unique().shape

(162541,)

In [23]:
x = ratings['userId'].value_counts() > 200

In [24]:
x[x].shape

(32848,)

In [25]:
y= x[x].index

In [26]:
y

Index([ 72315,  80974, 137293,  33844,  20055, 109731,  92046,  49403,  30879,
       115102,
       ...
        92476, 101711, 106680, 106790,  96099, 156456, 115756,   6761,  68693,
       145404],
      dtype='int64', name='userId', length=32848)

In [27]:
ratings = ratings[ratings['userId'].isin(y)]

In [28]:
ratings.head()

     userId  movieId  rating   timestamp
254       3        1     4.0  1439472215
255       3       29     4.5  1484754967
256       3       32     4.5  1439474635
257       3       50     5.0  1439474391
258       3      111     4.0  1484753849

In [29]:
ratings.shape

(16063558, 4)

In [30]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  62423 non-null  int64
 1   title    62423 non-null  object
 2   genres   62423 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

In [31]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16063558 entries, 254 to 24999378
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 612.8 MB

In [32]:
ratings_with_movies = ratings.merge(movies, on='movieId')

In [33]:
ratings_with_movies.head()

,userId,movieId,rating,timestamp,title,genres
0,3,1,4.0,1439472215,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,4,1,3.0,1573944252,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,12,1,4.0,1167582601,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,13,1,4.0,1265223970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,43,1,4.0,1170491388,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [34]:
ratings_with_movies.shape

(16063558, 6)

In [35]:
number_rating = ratings_with_movies.groupby('title')['rating'].count().reset_index()

In [36]:
number_rating.head()

                                               title  rating
0  "BLOW THE NIGHT!" Let's Spend the Night Togeth...       1
1                   "Great Performances" Cats (1998)      70
2                         #1 Cheerleader Camp (2010)       8
3                                   #Captured (2017)       2
4                            #Female Pleasure (2018)       2

In [37]:
number_rating.rename(columns={'rating':'num_of_rating'},inplace=True)

In [38]:
number_rating.head()

                                               title  num_of_rating
0  "BLOW THE NIGHT!" Let's Spend the Night Togeth...              1
1                   "Great Performances" Cats (1998)             70
2                         #1 Cheerleader Camp (2010)              8
3                                   #Captured (2017)              2
4                            #Female Pleasure (2018)              2

In [39]:
final_rating = ratings_with_movies.merge(number_rating, on='title')

In [40]:
final_rating.head()

,userId,movieId,rating,timestamp,title,genres,num_of_rating
0,3,1,4.0,1439472215,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22843
1,4,1,3.0,1573944252,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22843
2,12,1,4.0,1167582601,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22843
3,13,1,4.0,1265223970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22843
4,43,1,4.0,1170491388,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22843

In [41]:
final_rating.shape

(16063558, 7)

In [42]:
# Lets take those movies which got at least 50 rating of user

final_rating = final_rating[final_rating['num_of_rating'] >= 50]

In [43]:
final_rating.head()

,userId,movieId,rating,timestamp,title,genres,num_of_rating
0,3,1,4.0,1439472215,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22843
1,4,1,3.0,1573944252,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22843
2,12,1,4.0,1167582601,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22843
3,13,1,4.0,1265223970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22843
4,43,1,4.0,1170491388,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22843

In [44]:
final_rating.shape

(15716561, 7)

In [45]:
# lets drop the duplicates
final_rating.drop_duplicates(['userId','title'],inplace=True)

In [46]:
final_rating.shape

(15716010, 7)

In [47]:
# Lets create a pivot table
movie_pivot = final_rating.pivot_table(columns='userId', index='title', values= 'rating')

In [48]:
movie_pivot

userId,3,4,12,13,19,23,31,38,43,57,...,162507,162508,162512,162516,162519,162521,162524,162529,162533,162534
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'71 (2014),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN
'Salem's Lot (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
xXx (2002),3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,...,NaN,NaN,4.0,2.5,NaN,NaN,NaN,NaN,NaN,NaN
xXx: Return of Xander Cage (2017),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
xXx: State of the Union (2005),NaN,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Three Amigos! (1986),NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
nous la libert (Freedom for Us) (1931),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
movie_pivot.shape

(12660, 32848)

In [50]:
movie_pivot.fillna(0, inplace=True)

In [ ]:
movie_pivot

userId,15,17,20,37,38,39,47,50,59,68,...,247624,247662,247700,247702,247704,247705,247725,247730,247732,247735
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Salem's Lot (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Til There Was You (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"'burbs, The (1989)",0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,4.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
loudQUIETloud: A Film About the Pixies (2006),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xXx (2002),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
xXx: State of the Union (2005),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Three Amigos! (1986),0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
nous la libert (Freedom for Us) (1931),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

**Training Model**

In [51]:
from scipy.sparse import csr_matrix

In [52]:
movie_sparse = csr_matrix(movie_pivot)

In [53]:
type(movie_sparse)

scipy.sparse._csr.csr_matrix

In [54]:
# Now import our clustering algoritm which is Nearest Neighbors this is an unsupervised ml algo
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm= 'brute')

In [55]:
model.fit(movie_sparse)

NearestNeighbors(algorithm='brute')

In [56]:
distance, suggestion = model.kneighbors(movie_pivot.iloc[237,:].values.reshape(1,-1), n_neighbors=6 )

In [57]:
distance

array([[ 0.        , 27.83433132, 28.34607557, 28.36811591, 28.4385302 ,
        28.56571371]])

In [58]:
suggestion

array([[  237, 10914,  6324, 11178,  2748, 11093]], dtype=int64)

In [59]:
movie_pivot.iloc[241,:]

userId
3         0.0
4         0.0
12        0.0
13        0.0
19        0.0
         ...
162521    0.0
162524    0.0
162529    0.0
162533    0.0
162534    0.0
Name: Abandoned, The (2006), Length: 32848, dtype: float64

In [60]:
for i in range(len(suggestion)):
    print(movie_pivot.index[suggestion[i]])

Index(['ATM (2012)', 'The Darkness (2016)',
       'Last Exorcism Part II, The (2013)', 'The Vatican Tapes (2015)',
       'Dance Flick (2009)', 'The Open House (2018)'],
      dtype='object', name='title')

In [61]:
movie_pivot.index[3]

"'Salem's Lot (2004)"

In [62]:
#keeping movies name
movie_names = movie_pivot.index

In [63]:
movie_names[2]

"'Round Midnight (1986)"

In [65]:
import numpy as np
np.where(movie_pivot.index == 'Adventures of Elmo in Grouchland, The (1999)')[0][0]

311

In [66]:
import pickle
pickle.dump(model, open('artifacts/model.pkl', 'wb'))
pickle.dump(movie_names, open('artifacts/movie_names.pkl', 'wb'))
pickle.dump(final_rating, open('artifacts/final_rating.pkl', 'wb'))
pickle.dump(movie_pivot, open('artifacts/movie_pivot.pkl', 'wb'))

**Testing model**

In [ ]:
def recommend_movie(movie_name):
    movie_id = np.where(movie_pivot.index == movie_name)[0][0]
    distance, suggestion = model.kneighbors(movie_pivot.iloc[movie_id,:].values.reshape(1,-1), n_neighbors=6 )

    for i in range(len(suggestion)):
            movies = movie_pivot.index[suggestion[i]]
            for j in movies:
                if j == movie_name:
                    # print(f"You searched '{movie_name}'\n")
                    # print("The suggestion movies are: \n")
                    pass
                else:
                    # print(j)
                    return j

In [ ]:
movie_name = "Adventures of Elmo in Grouchland, The (1999)"
recommend_movie(movie_name)

You searched 'Adventures of Elmo in Grouchland, The (1999)'

The suggestion movies are:

Horrors of Spider Island (Ein Toter Hing im Netz) (1960)
Alien from L.A. (1988)
The Pumaman (1980)
SuperBabies: Baby Geniuses 2 (2004)
Giant Spider Invasion, The (1975)